.container{
    border: 1px solid black;
    background-color: yellow;
    height: 700px;
    width: 504px;
    display: grid;
    grid-template-rows: 30px 1fr 30px;
    grid-template-columns: 100px 400px;
    grid-gap: 5px;
    grid-template-areas: 
    "hd hd"
    "side main"
    "ft ft ";

}

.box{
    border: 1px solid red;
    background-color: aqua;

}

#header{ /*assigning header to area  name=hd*/
    grid-area: hd;
}

#sidebar{ /*assigning sidebar to area  name=side*/
    grid-area: side;
}

#content{ /*assigning content to area  name=main*/
    grid-area: main;
}

#footer{ /*assigning footer to area  name=ft*/
    grid-area: ft;
}