#wrapper{
    height: 100vh;
    overflow-x: hidden; /*to stop overflowing of data wrt to horizontal axis*/
    overflow-y: auto;
    perspective: 10px; /*to on function on z axis we have to define prespective no matter what the value is */   
}

.container{
    display: flex; /*to turn a element into flex box*/
    position: relative; /*here position is relative which is non static , because we have to overlap a img and it is done by absolute position and absolute need a non static position to asign itself*/
    height: 100%;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d; /*The transform-style CSS property sets whether children of an element are positioned in the 3D space or are flattened in the plane of the element.*/
    z-index: -1; /*it is a CSS property that defines the order of overlapping HTML elements. Elements with a higher index will be placed on top of elements with a lower index*/

}

.background , .foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1; /*it is a CSS property that defines the order of overlapping HTML elements. Elements with a higher index will be placed on top of elements with a lower index*/
} 